VITE_EMAIL_ROUTE="http://localhost:4848/onboarding/signup"
VITE_VERIFY_ROUTE="http://localhost:4848/onboarding/verify"
VITE_AUTH_ROUTE="http://localhost:4848/onboarding/auth"
VITE_REFRESH_ROUTE="http://localhost:4848/onboarding/refresh"
VITE_LOGIN_ROUTE="http://localhost:4848/onboarding/login"
VITE_LOGOUT_ROUTE="http://localhost:4848/onboarding/logout"
VITE_USERID_ROUTE="http://localhost:4848/onboarding/grab-user-creds"
VITE_CHANGE_PASSWORD_ASK_ROUTE="http://localhost:4848/onboarding/change-password-ask"
VITE_CHANGE_PASSWORD_ROUTE="http://localhost:4848/onboarding/change-password"
VITE_DELETE_PROFILE_ASK_ROUTE="http://localhost:4848/onboarding/delete-profile-ask"
VITE_DELETE_PROFILE_ROUTE="http://localhost:4848/onboarding/delete-profile"
VITE_FORGOT_PASS_ASK_ROUTE="http://localhost:4848/onboarding/forgot-password-ask"
VITE_FORGOT_PASS_CHANGE_ROUTE="http://localhost:4848/onboarding/forgot-password-change"
VITE_INVALID_TOKEN_CODE="CUSTOM_INVALID_TOKEN_CODE"
