VITE_EMAIL_ROUTE="/onboarding/signup"
VITE_VERIFY_ROUTE="/onboarding/verify"
VITE_AUTH_ROUTE="/onboarding/auth"
VITE_REFRESH_ROUTE="/onboarding/refresh"
VITE_LOGIN_ROUTE="/onboarding/login"
VITE_LOGOUT_ROUTE="/onboarding/logout"
VITE_USERID_ROUTE="/onboarding/grab-user-creds"
VITE_CHANGE_PASSWORD_ASK_ROUTE="/onboarding/change-password-ask"
VITE_CHANGE_PASSWORD_ROUTE="/onboarding/change-password"
VITE_DELETE_PROFILE_ASK_ROUTE="/onboarding/delete-profile-ask"
VITE_DELETE_PROFILE_ROUTE="/onboarding/delete-profile"
VITE_FORGOT_PASS_ASK_ROUTE="/onboarding/forgot-password-ask"
VITE_FORGOT_PASS_CHECK_ROUTE="/onboarding/forgot-password-check"
VITE_FORGOT_PASS_CHANGE_ROUTE="/onboarding/forgot-password-change"
VITE_INVALID_TOKEN_CODE="CUSTOM_INVALID_TOKEN_CODE"
VITE_TEST_EMAIL="jondoe@example.com"
VITE_TEST_PASSWORD="Password1234!"
VITE_TEST_HASH="reallyreallylonghash"
