# Backend Port Number
PORT=3000
# Host Name
HOST="::"
# Redis Config
# Change to docker instance ip address once set up(must be exact, use docker network ls and docker inspect HASH to find out ip)
REDIS_HOST="::"
# Use Default Redis Port and work locally for now, 
# eventually change to docker instance once DB is set up 
# and a more complicated docker-compose.yml is configured to 
# serve all of backend
REDIS_PORT=6379
# TODO: Reinstate once working within docker (change password to hash value)
REDIS_PASSWORD="redis"
# Salt for Hashing
HASH_SALT="salt"
# Cookie Secret
COOKIE_SECRET="cookie_secret"
# JWT Secret
JWT_SECRET="jwt_secret"
JWT_SESSION_EXP="1m"
JWT_REFRESH_EXP="5m"
# Postgres Config
# Change to docker instance ip address once set up(must be exact, use docker network ls and docker inspect HASH to find out ip)
PG_HOST="::"
PG_PORT=5432
PG_USER="postgros"
PG_DB="postgros"
PG_PASS="postgros"
# Brevo Transactional Email API key
BREVO_KEY="your brevo key goes here"
# Change this to production server
BREVO_LINK="localhost:9999"
# Change this if different template made via Brevo
BREVO_SIGNUP_TEMPLATE_ID=4
BREVO_CHANGE_PASSWORD_TEMPLATE_ID=5
BREVO_DELETE_ACCOUNT_TEMPLATE_ID=6
BREVO_FORGOT_PASSWORD_TEMPLATE_ID=7
# Variables for ava tests, will actually send email and set user in DB
TEST_EMAIL="jondoe@example.com"
TEST_PASSWORD='Password1234!'
